header>div:nth-child(3){
    margin: 1% 5%;
    width: 85%;
    padding: 10px 2.5%;
    background: rgba(0,2,3,0.2);
}
.autoManualClass{
    margin: 8px 15px;
}
header>div{
    margin: 10px 5%;
    font-size: 1.2em;
}
header>div:nth-child(2){
    cursor: pointer;
}
header>div:nth-child(2):hover{
    color: #AACCFF;
    text-decoration: underline;
}
#selectRoom{
    background: url("../asset/images/bedroom.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0px 5%;
    position: relative;
}

#selectRoom>h3{
    background: rgba(50,30,80,0.65);
    overflow: hidden;
    padding: 25px 100px;
}

#selectRoom>div>div:nth-child(2)>span{
    margin: 10px 15px;
}

#selectRoom>section{
    background: rgba(50,30,80,0.25);
    padding: 25px;
}
#selectRoom ul{
    width: 35%;
}
#selectRoom ul li{
    font-size: 20px;
    height: 25px;
    padding: 25px 100px;
    cursor: pointer;
    
}
#selectRoom ul li:hover{
    background: rgba(50,30,80,0.45);
    font-weight: bold;
}

#selectedRoom{
    background: rgba(50,30,80,0.15);
    width: 56%;
    padding: 15px 2%;
    position: absolute;
    bottom: 25px;
    right: 25px;
    border: 2px solid #445588;
    font-weight: bold;
}
#selectedRoom button{
    cursor: pointer;
}
#beginner{
    width: 40%;
    position: absolute;
    bottom: 200px;
    right: 100px;
    background: rgba(50,30,80,0.45);
    border: 2px solid #445588;
    padding: 50px 100px;
    font-size: 2em;
    text-align: center;
    color: #DDEEFF;
}
#theRoom{
    height: 100%;
    width: 100%;
}
#theRoom button{
    width: 100%;
    /*margin: 25px 20% 15px 20%;
    height: 25px;*/
}
#theRoom>div{
    background: rgba(10,20,50,0.45);
    margin-top: 20px;
    padding: 10px 20px;
    width: 45%;
    
}
#theRoom>div>div.floatRight{
    margin: 3px 20px 3px;
    width: 48px;
    text-align: center;
    cursor: default;
}
.switchedOFF{
    color: #336699;
    background: #EEFFFF;
    border: 1px solid #EEAAEE;
    padding: 2px;
}
.switchedON{
    color: #FFDDDD;
    background: #669900;
    border: 2px solid #EEAAEE;
    padding: 1px;
    box-shadow: 0px 0px 8px 3px #ccffaa;
}
footer{
    position: absolute;
    bottom: 5px;
    left: 5%;
	width: 90%;
}
footer>div:nth-child(2)>p:nth-child(2){
	font-size: 2em;
	font-family: calculatorFont;
}
#activeInMobile{
    display: none;
}

/*  --------------------------------  toggle button CSS       -----------------------------*/

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AA9; /*#ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ------------------====== end of toggle button css ======------------------------------ */

.settingsTab{
	position: fixed;
	right: -440px;
	top: 0;
	transition-property: right;
    transition-duration: 1.5s;
}
.showSettingsButton{
	background: url("../asset/images/settings.jpeg");
	background-repeat: no-repeat;
	background-size: 130% 130%;
    width: 50px;
    height: 46px;
    background-position: -6px -8px;
	margin-top: 45px;
}
#settingsTab>section:nth-child(2){
	width: 340px;
	padding: 30px 50px;
	background: rgba(50,30,80,0.5);
}
#settingsTab>section>form>input{
	border: 1px solid #5544AA;
    margin: 15px 0;
    font-size: 1.5em;
    padding: 5px 20px;
}
#settingsTab>section>form>input:nth-child(3){
	margin: 0;
}
#settingsTab>section>form>button{
	width: 50%;
    height: 2em;
    font-weight: bold;
    margin: 20px 25% 0;
    background: rgb(150,150,220);
    border: none;
    cursor: pointer;
    color: #eeffee;
}
#showHidePasswordCheckbox+label{
	padding-left: 10px;
}
.showSettingsTabWindow{
	right: 0px;
}
#SettingsTab:hover{
	box-shadow: 0px 0px 20px 5px #55AAAA;
	background: url('../asset/images/settings.gif');
	background-size: 160% 140%;
    background-position: -15px -9px;
    background-repeat: no-repeat;
}

/****---------------------------------------- For Mobile Phone -----------------------------------******/
@media only screen and (max-width:425px) {
  /* For mobile phones: */
    header>div:nth-child(3) {
        padding: 10px 2%;
    }
    #selectRoom {
        background-size: 275% 100%;
        background-position: 50%;
        margin: 5px 5%;
    }
    #selectRoom section>ul, #selectRoom>h3 {
        display: none;
    }
    #activeInMobile{
        display: block;
        position: absolute;
        width: 100%;
    }
    #activeInMobile nav{
        background: rgba(20,20,35,0.85);
        width: 80%;
        margin-left: 10%;
        border-radius: 20px;
        position: absolute;
        z-index: 1;
    }
    #activeInMobile aside{
        background: rgba(20,20,35,0.85);
        padding: 7px 6%;
    }
    #activeInMobile aside p{
        font-size: 0.8em;
        margin: 5px 0 0;
        font-style: italic;
        color: #FFFF00;
    }
    #activeInMobile nav ul li {
        height: 20px;
        padding: 3px 25px;
        margin: 5px 4%;
        border: 1px solid #FFEEFF;
        border-radius: 15px;
    }
    #activeInMobile nav ul{
        width: 100%;
        padding: 5px 0;
    }
    #activeInMobile nav ul li:active{
        background: #888899;
        color: #EEEEFE;
    }
    #selectedRoom{
        background: rgba(50,30,80,0.6);
        width: 90%;
        padding: 10px 5%;
        position: sticky;
        border: 1px solid #445588;
        font-weight: bold;
        margin: 30px 0 10px;
    }
    #theRoom>div {
        padding: 10px 5%;
        width: 90%;
    }
    #theRoom>div>div.floatRight {
        margin: 0;
        width: 50px;
    }
    .autoManualClass {
        margin: 1px 4px;
    }
	footer{
		margin: 10px 20px;
    	position: static;
	}
    /*---------------------------------TOGGLE BUTTON CSS----------------------------------------*/
    .switch{
        width: 30px;
        height: 21px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(11px);
        -ms-transform: translateX(11px);
        transform: translateX(11px);
    }
    .slider:before {
        height: 15px;
        width: 15px;
        left: 2px;
        bottom: 3px;
    }
    .autoManualSwitchSection{
        font-size: 1em;
        margin-top: 2%;
    }
    /*=========-----------------------end of toggle button css ------------------*/
}